* {
      margin: 0 auto;
      padding: 0;
      box-sizing: border-box; 
}

.stpa {
  display: block;
  width: 15%;
  height: auto;
  margin: auto;
}

h1 {
 display: block;
  text-align: center;
   color: #411c00;
}

div.nav {
  text-align: center;
  color: #411c00;
}

a {
  text-decoration: none;
  color: #411c00;
}

h4 {
  font-size: 2rem;
  color: #411c00;
}

p {
  font-size: 0.9rem;
  color: #411c00;
}

 div[class^='col_']  {
  float: left;
  padding: 1rem;
}

div.row:after {
  clear: both;
  content: "";
  display: block;
}

div.col_1_of_6 {width: 16.666%;}
div.col_2_of_6 {width: 33.333%;}
div.col_3_of_6 {width:50%;}
div.col_4_of_6 {width: 66.666%;}
div.col_5_of_6 {width: 83.3333%;}
div.col_6_of_6 {width: 100%;}
div.col_3_of_4 {width: 75%;}
div.col_3_of_5 {width: 60%;}

main {
  text-align: 
    center; 
}

.instructor {
  width: 20rem;
  height: auto;
}

h1, h4, div.nav {
font-family: 'Merriweather Sans', sans-serif;
text-align: center;
}

p {
font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 0.1rem;
}

.footer {
  overflow: hidden;
  font-size: 0.7rem;
  font-family: 'Merriweather Sans', sans-serif;
  color: #411c00;
  background-color: #a17f65
}

