* {
  margin: 0 auto;
  box-sizing: border-box; 
  color: #411c00;
}

.stpa {
  display: block;
  width: 15%;
  height: auto;
  margin: auto;
}

h1 {
 display: block;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  text-align: center;
  background-color: #a17f65;
  font-family: 'Merriweather Sans', sans-serif;
}

.nav {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

a {
  text-decoration: none;
}

h4 {
  font-size: 2rem;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  padding-bottom: 1rem;
}

p {
  font-size: 0.9rem;
}

 div[class^='col_']  {
  float: left;
  padding: 1rem;
}

.col_1_of_6 {width: 16.666%;}
.col_2_of_6 {width: 33.333%;}
.col_3_of_6 {width:50%;}
.col_4_of_6 {width: 66.666%;}
.col_5_of_6 {width: 83.3333%;}
.col_6_of_6 {width: 100%;}
.col_3_of_4 {width: 75%;}
.col_3_of_5 {width: 60%;}

main {
  text-align: center; 
}

.instructor {
  width: 20rem;
  height: auto;
}

.classes {
  width: 20rem;
  height: 20rem;
}

p {
font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 0.1rem;
  padding: 1rem;
}

.footer {
  overflow: hidden;
  font-size: 0.7rem;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #a17f65;
}

